@inject IJSRuntime js


@if (Peliculas == null)

{
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
    <text>Cargando...</text>
}
else if (Peliculas.Count() == 0)
{
    <text>No hay registros para mostrar.</text>
}

else
{
    <div>
        <h3>Peliculas for</h3>


        <input type="checkbox" @bind="MostrarBotones" />

        @foreach (var pelicula in Peliculas)
        {
            @*<PeliculaIndividual Pelicula="pelicula"
                EliminarPelicula="EliminarPelicula"
                MostrarBotones="MostrarBotones"></PeliculaIndividual>*@

            <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula"
                                MostrarBotones="MostrarBotones" />
        }
    </div>
}

@code{





    [Parameter] public List<Peliculas> Peliculas { get; set; }
    bool MostrarBotones = false;

 
    //Peliculas pelicula = new Peliculas();

    async Task EliminarPelicula(Peliculas pelicula)
    {
      
            Peliculas.Remove(pelicula);
            Console.WriteLine($"Se ha eliminado la pelicula {pelicula.Titulo}");
      
    }

}
