@inject IJSRuntime js


<div style="display:flex; flex-wrap:wrap;align-items:center">
    <ListadoGenerco Listado="Peliculas">
        <HayRegistros Context="pelicula">
            <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula" />
        </HayRegistros>
    </ListadoGenerco>
</div>


    
@code{ 

    [Parameter] public List<Peliculas> Peliculas { get; set; }

    async Task EliminarPelicula(Peliculas pelicula)
    {
        
        var confirmado = await js.Confirm($"Desea borrar la pelicula {pelicula.Titulo}?");

        if (confirmado)
        {
            Peliculas.Remove(pelicula);
            Console.WriteLine($"Se ha eliminado la pelicula {pelicula.Titulo}");
        }

    }
   
    }
