



<div>
    <p>Titulo: <b>@Pelicula.Titulo</b></p>
    <p>Fecha Lanzamiento: <b>@Pelicula.FechaLanzamiento.ToString("dd MM yyyy")</b></p>
</div>


@code {
    [Parameter] public Peliculas Pelicula { get; set; }
}