@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio

<h3>CrearPelicula</h3>
@if(MostrarFormulario)
{
   <FormularioPeliculas Peliculas="Peliculas" OnValidSubmit="Crear" GenerosNoSeleccionados="GenerosNoseleccionados"></FormularioPeliculas>
}
else
{
    <text>Cargando...</text>
}





@code { 
    private bool MostrarFormulario { get; set; } = false;

    private Peliculas Peliculas = new Peliculas();
    private List<Generos> GenerosNoseleccionados = new List<Generos>();

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repositorio.Get<List<Generos>>("api/generos");
        GenerosNoseleccionados = responseHttp.Response;
    }


    void Crear()
    {
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
 }