@page "/personas/crear"

<h3>Crear Persona</h3>

<FormularioPersonas OnValidSubmit="Crear" Persona="persona" ></FormularioPersonas>

@code {

    private Personas persona = new Personas();

     void Crear()
    {
        Console.WriteLine("Crear persona");
    }

}