@page "/personas/crear"
@inject IRepositorio repositorio
@inject NavigationManager navigation
@inject IMostrarMensajes mostrarMensajes
<h3>Crear Persona</h3>

<FormularioPersonas OnValidSubmit="Crear" Persona="persona"></FormularioPersonas>

@code { private Personas persona = new Personas();



    private async Task Crear()
    {

        var httpResponse = await repositorio.Post("api/personas", persona);
        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigation.NavigateTo("/personas");
        }

    }



    }