@page "/"
@inject IRepositorio repositorio
<hr />

<div>
    <h3>Listado de peliculas</h3>
    <ListadoPeliculas  Peliculas="Peliculas">
    </ListadoPeliculas>
</div>

@code { 

    private List<Peliculas> Peliculas;

    protected override void OnInitialized()
    {
        //var lista = listado.Peliculas;
        Peliculas = repositorio.ObtenrPeliculas();

    }
   
}

