@page "/"
@inject IRepositorio repositorio



<hr />

<div>
    <h3>Listado de peliculas</h3>
    <ListadoPeliculas  Peliculas="Peliculas">
    </ListadoPeliculas>
</div>

<button  @onclick="AgregarPelicula" >Agregar pelicula</button>




@code {
    string nombre = "Homero";

    ListadoPeliculas listado;

    private List<Peliculas> Peliculas;

    protected override void OnInitialized()
    {
        //var lista = listado.Peliculas;
        Peliculas = repositorio.ObtenrPeliculas();

    }


    void AgregarPelicula()
    {
        Peliculas.Add(new Peliculas() { Titulo = "Nueva pelicula", FechaLanzamiento =  DateTime.Today });
    }



    private void ManejarClick()
    {
        Console.WriteLine("Me han clikeado");
    }

    public Peliculas SpiderMan
    {
        get { return ObtenerPelicula(); }
    }


    private Peliculas ObtenerPelicula()
    {
        return new Peliculas()
        {
            Titulo = "Spider-Man: Far From Home",
            FechaLanzamiento = new DateTime(2019, 7, 2)
        };
    }





}

