@page "/"
@*@using  BlazorPeliculas.Client.Helpers*@


@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<p>Hola, @UtilidadesString.EnMayiscular(nombre)  </p>
<p>Vamo a sumar 2 +2 =@(2+2)</p>


@*<button  @onclick="@(()=> Console.WriteLine("Me han clikeado"))">Precioname</button>*@
<button @onclick="@ManejarClick">Precioname</button>


@code {
    string nombre = "Homero";


    //public class UtilidadesString
    //{
    //    //exprecion implicita, no sabe donde empieza y donde terman
    //   public static string EnMayiscular(string valor) => valor.ToUpper();
    //}




    private void ManejarClick()
    {
        Console.WriteLine("Me han clikeado");
    }

}

