@page "/"

<p>Hola, @UtilidadesString.EnMayiscular(nombre)  </p>
<p>Vamo a sumar 2 +2 =@(2+2)</p>

<button @onclick="@ManejarClick">Precioname</button>


<hr />

<ListadoPeliculas Peliculas="ObtenerPeliculas()"></ListadoPeliculas>


@code {
    string nombre = "Homero";

    private void ManejarClick()
    {
        Console.WriteLine("Me han clikeado");
    }

    public Peliculas SpiderMan
    {
        get { return ObtenerPelicula(); }
    }


    private Peliculas ObtenerPelicula()
    {
        return new Peliculas()
        {
            Titulo = "Spider-Man: Far From Home",
            FechaLanzamiento = new DateTime(2019, 7, 2)
        };
    }


    private new List<Peliculas> ObtenerPeliculas()
    {
        return new List<Peliculas>()
{
            new Peliculas(){Titulo = "<b>Spider-Man</b>: Far From Home", FechaLanzamiento  = new DateTime(2019, 7, 2)},
            new Peliculas(){Titulo = "<i>Moana</i>", FechaLanzamiento  = new DateTime(2016, 11, 23)},
            new Peliculas(){Titulo = "Inception", FechaLanzamiento  = new DateTime(2010, 7, 16)}
        };
    }


}

