@page "/"
@inject IRepositorio repositorio

<hr />

<div>
    <h3>En cartelera</h3>
    <ListadoPeliculas Peliculas="EnCartelera">
    </ListadoPeliculas>
</div>

<div>
    <h3>Proximos extrenos</h3>
    <ListadoPeliculas Peliculas="FuturosExtrenos">
    </ListadoPeliculas>
</div>

@code {

    private List<BlazorPeliculas.Shared.Entidades.Peliculas> FuturosExtrenos;
    private List<BlazorPeliculas.Shared.Entidades.Peliculas> EnCartelera;

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }


    private async Task Cargar()
    {
        var responseHttp = await repositorio.Get<HomePageDTO>("api/peliculas");

        FuturosExtrenos = responseHttp.Response.ProximosEstrenos;
        EnCartelera = responseHttp.Response.PeliculasEnCartelera;


    }

}

