@page "/"
@inject IRepositorio repositorio
<hr />

<div>
    <h3>Listado de peliculas</h3>
    <ListadoPeliculas Peliculas="PeliculasIndex">
    </ListadoPeliculas>
</div>

@code {

    private List<BlazorPeliculas.Shared.Entidades.Peliculas> PeliculasIndex;

    protected override void OnInitialized()
    {
        //var lista = listado.Peliculas;
        PeliculasIndex = repositorio.ObtenrPeliculas();

    }

}

