@page "/"



<hr />

<div>
    <h3>Listado de peliculas</h3>
    <ListadoPeliculas Peliculas="Peliculas">
    </ListadoPeliculas>
</div>

<button  @onclick="AgregarPelicula" >Agregar pelicula</button>




@code {
    string nombre = "Homero";



    private List<Peliculas> Peliculas;

    protected override void OnInitialized()
    {

        Peliculas = new List<Peliculas>()
        {
            new Peliculas(){Titulo = "Spider-Man: Far From Home", FechaLanzamiento  = new DateTime(2019, 7, 2)},
            new Peliculas(){Titulo = "Moana", FechaLanzamiento  = new DateTime(2016, 11, 23)},
            new Peliculas(){Titulo = "Inception", FechaLanzamiento  = new DateTime(2010, 7, 16)}
        };

    }


    void AgregarPelicula()
    {
        Peliculas.Add(new Peliculas() { Titulo = "Nueva pelicula", FechaLanzamiento =  DateTime.Today });
    }



    private void ManejarClick()
    {
        Console.WriteLine("Me han clikeado");
    }

    public Peliculas SpiderMan
    {
        get { return ObtenerPelicula(); }
    }


    private Peliculas ObtenerPelicula()
    {
        return new Peliculas()
        {
            Titulo = "Spider-Man: Far From Home",
            FechaLanzamiento = new DateTime(2019, 7, 2)
        };
    }





}

